<h1><u>List of Comedians</u></h1>
<ul>
  <% @comedians.each do |comedian| %>
  <p> <%= comedian.name %></p>
  <li> <%= comedian.age %></li>
  <% sp = comedian.specials %>
  <li><%= sp.name %></li>
  <% end %>
</ul>
<p>  <% Comedian.average_age %> </p>
